{% extends "layout.html" %}                                                                         <!-- This is the index.html file. It is a template that will be rendered by the application. -->

{% block body %}                                                                                    <!-- This is the body of the index.html file. -->

        <form action="/register" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text"/>
            <select name="sport">
                <option value="">Select your sport</option>
                <option value="Basketball">Basketball</option>
                <option value="Soccer">Soccer</option>
                <option value="Hockey">Hockey</option>
            </select>
            <button type="submit">Register</button>
        </form>

{% endblock %}                                                                                          <!-- This is the end of the body of the index.html file. -->